footer {
    height: 100vh;
    /* fallback height definition */
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-family);
}

footer h2 {
    color: #fff;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    footer h2 {
        font-size: 4rem;
    }
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links li {
    padding: 0 16px;
}

@media (min-width: 768px) {
    .footer-links li {
        padding: 0 32px;
    }
}

.footer-links a {
    display: flex;
    font-family: var(--font-family);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .footer-links a {
        font-size: 1.5rem;
    }
}

.footer-links a svg {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .footer-links a svg {
        font-size: 2rem;
    }
}